.big-title {
  font-size: $--heading-big;
  line-height: 60px;
}

h2,
h3,
h4 {
  line-height: 32px;
}

.l1,
.l2,
.link {
  line-height: 20px;
}

h1 {
  font-size: 32px;
  line-height: 42px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

.p1 {
  font-size: 16px;
  line-height: 28px;
}

.p2 {
  font-size: 14px;
  line-height: 22px;
}

.p3 {
  font-size: 12px;
  line-height: 20px;
}

.l1 {
  font-size: 16px;
}

.l2 {
  font-size: 14px;
}

.link {
  font-size: 12px;
}

.is-bold {
  font-weight: 700;
}

